<h1>RAD STORES</h1>
<h1><%= @store.name %></h1><br/>

<h3><%= @store.location %></h3><br/>

<%= link_to "EDIT", edit_store_path %><br/>
<%= link_to "HOME", root_path %><br/>
<%= link_to "ALL STORES", stores_path %>