<h1><%= @movie.title %></h1>
<br/>

<img src="<%= @movie.img_url %>"></p>
<p>year: <%= @movie.year %></p>
<p>writer: <%= @movie.writer %></p>
<p>actors: <%= @movie.actors %></p>
<p>plot: <%= @movie.plot %></p>

