<!DOCTYPE html>
<html>
<head>
	<title>EDIT</title>
</head>
<body>

<h1><%= @movie.title %></h1>
<br/>

<img src="<%= @movie.img_url %>"></p>
<p>year: <%= @movie.year %></p>
<p>writer: <%= @movie.writer %></p>
<p>actors: <%= @movie.actors %></p>
<p>plot: <%= @movie.plot %></p>
<p>imdb rating: <%= @movie.rating %></p>
<br/>

<%= link_to 'EDIT', edit_movie_path(@movie.id) %>

<br/>
<%= link_to "MAIN", root_path %>
</body>
</html>