<!DOCTYPE html>
<html>

<body>
	<header id="page-title">
		<h1><%= @song.title %></h1>
		<h3><%= @song.artist %></h3><br/>
		<h4><%= @song.user_comments %></h4>
	</header>
	<br/>

	<div id="album-container">	
		<img id="song-image" src="<%= @song.img_url %>"><br/>
		<audio controls src="../sounds/<%= @song.mp3 %>" ></audio>
		<img src="../images/next.png"><%= link_to "Next", "/songs/#{@next_song}" %>
	</div>

	<div id="song-container">	
		
		<h4><%= link_to "Edit Song", edit_song_path %></h4>
		<div class="dropdown">
			<button class="dropbtn">Add Comments</button>
				<div class="dropdown-content">
					<%= render :partial => 'comments' %>
				</div>
		</div>

	</div>
	
	<br/>
	<footer>	
		<a href= "/" ><img class="back-to-link" src="/images/totally_valley_logo.png"/></a>
		<a href= "/songs" ><img class="back-to-link" src="/images/songs.png"/></a>
	</footer>

</body>
</html>