<h1><%= @song.title %></h1><br/>

<h3><%= @song.artist %></h3><br/>

<img id="song-image" src="<%= @song.img_url %>"><br/>

<audio controls src="../sounds/<%= @song.mp3 %>" ></audio><br/>

<%= link_to "EDIT", edit_song_path %><br/>
<%= link_to "MAIN", root_path %><br/>
<%= link_to "ALL SONGS", songs_path %>